PORT=5001
MONGODB_URI=mongodb://localhost:27017/interview_scheduling
JWT_ACCESS_SECRET=your_access_secret_here_change_this_in_production
JWT_REFRESH_SECRET=your_refresh_secret_here_change_this_in_production
NODE_ENV=development
IMAGEKIT_PRIVATE_KEY=your_imagekit_private_key_here_change_this_in_production
FRONTEND_URL=http://localhost:3000
